<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fragmentos Blog</title>
    <link rel="stylesheet" th:href="@{/css/blog.css}">
</head>

<body>
    <header th:fragment="header">
        <div class="logo-texto">
            <img th:src="@{/images/logoEmpresa.png}" alt="Logo Empresa" class="logo">
            <span class="nombre-empresa">Terabyte Technology Blog</span>
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a th:href="@{/contactoBlog}">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <footer th:fragment="footer">
        <p>&copy; 2025 Terabyte Technology. Todos los derechos reservados. Versión 1.0.0.</p>
    </footer>
</body>

</html>