<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>[[#{usuario.titulo}]] - [[#{usuario.lista}]]</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>

    <div th:replace="fragmentos :: header"></div>

    <div class="container">
        <a th:href="@{/}" class="btn-module btn-small" style="background-color: gray;">[[#{servicio.volverMenu}]]</a>
        <h1>[[#{usuario.lista}]]</h1>
        <a th:href="@{/usuario/nuevo}" class="btn-module">[[#{usuario.nuevo}]]</a>

        <table class="table">
            <thead>
                <tr>
                    <th>[[#{usuario.cedula}]]</th>
                    <th>[[#{usuario.nombre}]]</th>
                    <th>[[#{usuario.correo}]]</th>
                    <th>[[#{usuario.telefono}]]</th>
                    <th>[[#{usuario.rol}]]</th>
                    <th>[[#{tipoEquipo.acciones}]]</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.cedulaUsuario}"></td>
                    <td th:text="${usuario.nombreUsuario}"></td>
                    <td th:text="${usuario.correoUsuario}"></td>
                    <td th:text="${usuario.telefonoUsuario}"></td>
                    <td th:text="${usuario.rol.descripcionRol}"></td>
                    <td>
                        <a th:href="@{|/usuario/editar/${usuario.cedulaUsuario}|}" class="btn-module">[[#{accion.editar}]]</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragmentos :: footer"></div>

</body>

</html>