<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>[[#{tipoEquipo.titulo}]] - [[#{servicio.listado}]]</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>

    <div th:replace="fragmentos :: header"></div>

    <div class="container">
        <a th:href="@{/}" class="btn-module btn-small" style="background-color: gray;">[[#{servicio.volverMenu}]]</a>
        <h1>[[#{tipoEquipo.lista}]]</h1>
        <a th:href="@{/tipoequipo/nuevo}" class="btn-module">[[#{tipoEquipo.nuevo}]]</a>

        <table class="table">
            <thead>
                <tr>
                    <th>[[#{tipoEquipo.id}]]</th>
                    <th>[[#{servicio.descripcionProblema}]]</th>
                    <th>[[#{tipoEquipo.acciones}]]</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tipoEquipo : ${tiposEquipo}">
                    <td th:text="${tipoEquipo.tipoEquipoId}"></td>
                    <td th:text="${tipoEquipo.tipoEquipoDescripcion}"></td>
                    <td>
                        <a th:href="@{|/tipoequipo/editar/${tipoEquipo.tipoEquipoId}|}" class="btn-module">[[#{accion.editar}]]</a>
                        <a th:href="@{|/tipoequipo/eliminar/${tipoEquipo.tipoEquipoId}|}" class="btn-module"
                            style="background-color: #dc3545;">[[#{accion.eliminar}]]</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragmentos :: footer"></div>

</body>

</html>
