<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>[[#{pieza.titulo}]] - [[#{servicio.formulario.nuevo}]]</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>

    <div th:replace="fragmentos :: header"></div>

    <div class="container">
        <h1 th:text="${pieza.piezaId != null} ? #{pieza.editar} : #{pieza.nueva}"></h1>

        <form th:action="@{/pieza/guardar}" th:object="${pieza}" method="post">

            <input type="hidden" th:field="*{piezaId}" />

            <div>
                <label>[[#{pieza.descripcion}]]:</label><br>
                <input type="text" 
                       th:field="*{piezaDescripcion}"
                       required maxlength="50"
                       style="width: 100%; padding: 8px; margin: 10px 0;">
            </div>

            <div>
                <label>[[#{pieza.precio}]]:</label><br>
                <input type="number"
                       id="precio"
                       th:field="*{precioPieza}"
                       step="0.01"
                       min="0.01"
                       max="999999.99"
                       th:placeholder="#{pieza.ingresarPrecio}"
                       required
                       oninput="
                       if (this.value < 0) this.value = '';
                       this.setCustomValidity('');
                       "
                       oninvalid="this.setCustomValidity('Ingrese un precio válido mayor a 0.')"
                       style="width: 100%; padding: 8px;">
            </div>

            <div>
                <label>[[#{pieza.rutaImagen}]]:</label><br>
                <input type="text" 
                       th:field="*{rutaImagen}"
                       maxlength="1024"
                       placeholder="/images/piezas/foto.png"
                       style="width: 100%; padding: 8px; margin: 10px 0;">
            </div>

            <div>
                <button type="submit" class="btn-module" style="background-color: #007bff;">
                    [[#{accion.guardar}]]
                </button>

                <a th:href="@{/pieza}" class="btn-module" style="background-color: gray;">
                    [[#{accion.cancelar}]]
                </a>
            </div>

        </form>
    </div>

    <div th:replace="fragmentos :: footer"></div>

</body>

</html>
