<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Servicios - Formulario</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>
    <div th:replace="fragmentos :: header"></div>

    <div class="container">
        <h1 th:text="${servicio.servicioId != null} ? 'Editar Servicio' : 'Nuevo Servicio'"></h1>

        <form th:action="@{/servicio/guardar}" th:object="${servicio}" method="post">
            <!-- ID oculto pa editar-->
            <input type="hidden" th:field="*{servicioId}" />

            <!-- cedula cliente INPUT -->
            <div>
                <label>Cédula del cliente:</label><br>
                <input type="number" th:field="*{cliente.cedula}" required
                    style="width: 100%; padding: 8px; margin: 10px 0;">
            </div> <!-- cedula cliente PODRIAMOS USAR DISABLED luego -->



            <!-- porque Spring sabe que el th:field="*{tipoEquipo}" es un manytoone
y al poner th:value="${te.tipoEquipoId}" Spring busca ese id en DB y arma el objeto,podemos usarlo asi tambien lueog en otros HTML -->
            <div>
                <label>Tipo de Equipo:</label><br>
                <select th:field="*{tipoEquipo}" required>
                    <option value="">-- Seleccionar --</option>
                    <option th:each="te : ${tiposEquipo}" th:value="${te.tipoEquipoId}"
                        th:text="${te.tipoEquipoDescripcion}">
                    </option>
                </select>

            </div>
            <div>
                <label>Tipo de Servicio:</label><br>
                <select th:field="*{tipoServicio}" required>
                    <option value="">-- Seleccionar --</option>
                    <option th:each="ts : ${tiposServicio}" th:value="${ts.tipoServicioId}"
                        th:text="${ts.tipoServicioDescripcion}">
                    </option>
                </select>

            </div>
            <div>
                <label>Estado del Servicio:</label><br>
                <select th:field="*{estadoServicio}" required>
                    <option value="">-- Seleccionar --</option>
                    <option th:each="es : ${estadosServicio}" th:value="${es.estadoServicioId}"
                        th:text="${es.estadoServicioDescripcion}">
                    </option>
                </select>

            </div>

            <div>
                <label>Número de serie del equipo:</label><br>
                <input type="text" th:field="*{numeroSerieEquipo}" required maxlength="500"
                    style="width: 100%; padding: 8px; margin: 10px 0;">
            </div>
            <div>
                <label>Fecha de ingreso(USAR FORMATO yyyy-MM-dd):</label><br>
                <input type="text" th:field="*{fechaIngresoEquipo}" placeholder="yyyy-MM-dd" required>
            </div>
            <div>
                <label>URL Imagen Equipo:</label><br>
                <input type="url" th:field="*{rutaImagen}" required maxlength="1024"
                    style="width: 100%; padding: 8px; margin: 10px 0;">
            </div>
            <div>
                <label>Descripción problema:</label><br>
                <textarea th:field="*{descripcionProblema}" required maxlength="500" rows="4"
                    style="width: 100%; padding: 8px; margin: 10px 0;"></textarea>
            </div>

            <div>
                <button type="submit" class="btn-module" style="background-color: #007bff;">Guardar</button>
                <a th:href="@{/servicio}" class="btn-module" style="background-color: gray;">Cancelar</a>
            </div>

        </form>
    </div>

    <div th:replace="fragmentos :: footer"></div>

</body>

</html>