<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Terabyte Technology - [[#{menu.inicio}]]</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>

    <div th:replace="fragmentos :: header"></div>

    <div class="container">
        <h1>[[#{index.bienvenida}]]</h1>

        <h2>[[#{index.gestionOperativa}]]</h2>
        <a th:href="@{/servicio}" class="btn-module btn-operativo">[[#{menu.servicios}]]</a>
        <a th:href="@{/serviciopieza}" class="btn-module btn-operativo">[[#{index.serviciosPiezas}]]</a>

        <!-- solo para ADMIN -->
        <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/pieza}" class="btn-module btn-operativo">[[#{index.piezas}]]</a>
            <a th:href="@{/clientes}" class="btn-module btn-operativo">[[#{index.gestionClientes}]]</a>
            <a th:href="@{/factura/lista}" class="btn-module btn-operativo">[[#{index.facturacion}]]</a>
            <a th:href="@{/feedback/lista}" class="btn-module btn-operativo">[[#{index.feedback}]]</a>

            <h2>[[#{index.marketing}]]</h2>
            <a th:href="@{/marketing}" class="btn-module btn-marketing">Marketing</a>

            <h2>[[#{index.administracion}]]</h2>
            <a th:href="@{/rol}" class="btn-module btn-admin">[[#{index.roles}]]</a>
            <a th:href="@{/usuario}" class="btn-module btn-admin">[[#{index.gestionUsuarios}]]</a>
            <a th:href="@{/tipoequipo}" class="btn-module btn-admin">[[#{index.tiposEquipo}]]</a>
            <a th:href="@{/tiposervicio}" class="btn-module btn-admin">[[#{index.tiposServicio}]]</a>
            <a th:href="@{/estadoservicio}" class="btn-module btn-admin">[[#{index.estadosServicio}]]</a>
        </div>

    </div>

    <div th:replace="fragmentos :: footer"></div>

</body>

</html>